.one-todo {
  width: 600px;
  margin-bottom: 5px;
  padding: 10px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(86, 86, 135, 0.378);
  border-radius: 5px;
}

.important-todo {
  position: relative;
  width: 600px;
  margin-bottom: 5px;
  padding: 10px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid  rgba(232, 231, 231, 0.796);;
  border-radius: 5px;
  background-color:rgba(233, 192, 56, 0.478)
}


.important-todo .details h1 {
position: absolute; 
 left: 7px;
top: 11px;
font-size: 48px; 
color: rgb(249, 148, 59);
}

.data {
  text-align: left;
  padding: 0 10px;
  color: rgb(99, 99, 113);
}
.data p {
  font-size: 12px;
  color: rgb(147, 147, 148);
}

.buttons a {
  margin: 10px;
  padding: 5px 15px;
}

.material-symbols-outlined {
  font-size: 32px;
 }
 
.mark {
 border: none;
 background-color: transparent;
 color: green
}

.delete {
  border: none;
 background-color: transparent;
  color: rgb(193, 3, 3);
}


.edit {
  color: rgb(255, 187, 0);
}

h4.completed {
  text-decoration: line-through;
}

h4.incompleted {
  text-decoration: none;
}
