#todo-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.one-todo {
  width: 600px;
 background-color: rgb(243, 142, 18);
  margin: 5px;
  clip-path: polygon(11% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
padding-left: 30px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 10px;
}

.one-todo h3 {
  color: cadetblue;
  padding: 10px;
}

.one-todo h3::before {
  content: '';
  background-color: black;
  width: 100px;
  height: 100px;
}

.one-todo h2 {
  color: slategray;
  padding: 10px;
}

.one-todo button {
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 15px;
}

.delete {
  background-color: tomato;
  color: white;
  border: 1px solid tomato;
}

.mark {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
